
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300);

body {
	background-color: #324741;
	overflow: hidden !important;
	font-family: "Source Sans Pro",Arial,Helvetica,sans-serif
}

body, html {height:100%;}

nav {
	position: fixed;
	top:0;
	z-index: 1;
	width:100%;
}

#fullpage {
	overflow: hidden;
}

a {
	color: #af2251;
}

.main-title {
	font-family: 'Libre Baskerville', serif;
	width:40%;
	margin-top: 20%;
	margin-left: 50%;
	margin-right: 20%;
	text-align: left;

	@media (max-width: 768px) {
		padding: 10px;
		margin-left: 2%;
		margin-top: 2%;
	color: #fff;
	background-color: rgba(51,51,51,0.8);
		width:90%;

	}
}

.subhead {
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;
	width:40%;
	margin-left: 50%;
	
	text-align: left;

	@media (max-width: 768px) {
		padding: 10px;
		margin-left: 2%;
		color: #fff;
	font-size: 14px;
		width:90%;
	}
}

.note 	{

font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	width:40%;
	
	margin-left: 50%;
	
	text-align: left;


	@media (max-width: 768px) {
		padding: 10px;
		margin-left: 2%;
		color: #fff;
font-size: 10px;
		width:90%;
	}
}

.byline {

font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	width:40%;
	margin-top: 1%;
	margin-left: 50%;
	margin-right: 20%;
	text-align: left;


	@media (max-width: 768px) {
		padding: 10px;
		margin-left: 2%;
		width:90%;
		color: #fff;
		font-size: 10px;
	
	}

}

.btn.btn-info.start {
	margin-left: 60%;
	margin-right: 20%;
	margin-bottom: 1%;

	@media (max-width: 768px) {
		
		margin-left: 5%;
		width:50%;
	}
}

.slide {
	background: #324741 no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	

	.start {
		transition: background-image 2s ease;
	}
}

.btn {
	background-color: #324741;
	border-color: #324741;
}

.persona-wrapper {
	padding: 0px 20px;
	overflow-y: auto;
	height: 99%;
}

.persona {
	text-align: center;
	margin-bottom: 20px;
	font-size: 14px;
}

.section {
	height:100%;
	transition: opacity 1s ease;
	opacity: 0;
	display: block;
	overflow: hidden;
	

	.slides {
        height: 100%;
        overflow: hidden;
        position: relative;
    }
}

.front, .back {
	position: relative;
	height:100%;
	top: 0;
	width:100%;
	display:none;
}

.active-side {
	display: table;
	padding-top: 50px;
}

.return, .flip {
	position: relative;
}

.postcard-controls {
	position: relative;
	bottom:5%;
	left:5%;
}

.title {
	font-family: 'Libre Baskerville', serif;
	font-size: 40px;
	text-align: center;
	@media (max-width: 768px) {
		margin-left: 10px;
		font-size: 22px;
		
	}
}

.location {
	font-family: 'Libre Baskerville', serif;
	font-size: 22px;
	text-align: center;
	@media (max-width: 768px) {
		margin-left: 10px;
		font-size: 16px;
		
	}
}

.fronttext {
	position: relative;
	color:#fff;
	overflow-y: scroll;
	max-height:100%;
	background-color: rgba(51,51,51,0.8);
	padding: 15px;
	font-size: 18px;
	@media (max-width: 768px) {
		padding: 10px;
		overflow-y: scroll;
		height: 400px;
		margin-left: 5%;
		margin-top: 28%;
	}
}

.btn.btn-info.flip
{
	background-color: #fff;
	color: #324741;
	font-family: 'Libre Baskerville', serif;
}

.btn.btn-info.return
{
	background-color: #000;
	color: #fff;
	font-size: 12px;
}

.backtext {

	position: relative;
	height:400px;
	width:70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	margin-bottom: 200px;
	color:#324741;
	overflow-y: scroll;
	padding:10px;
	border-radius: 5px;
	font-size: 20px;
}

.textbox {
	margin-bottom: 15px;
}

.avatars {
	position: absolute;
	height: 250px;
	width: 200px;
	top: 25px;
	left: 15px;
	z-index: 99;

	@media (max-width: 768px) {
		height: 100px;
		width: 80px;
	}
}


.gardiner {
	height: 250px;
	width: 250px;
	margin-right: 10px;
}





.creditstext {
position: relative;
	height:600px;
	width:70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	color:#324741;
	overflow-y: scroll;
	
	padding:10px;
	border-radius: 5px;
	font-size: 20px;
	

}

