
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300);

body {
	background-color: #324741;
	overflow: hidden !important;
	font-family: "Source Sans Pro",Arial,Helvetica,sans-serif
}

// body, html {height:100%;}

nav {
	position: fixed;
	top:0;
	z-index: 1;
	width:100%;
}

#fullpage {
	overflow: hidden;
}

a {
	color: #af2251;
}

.start-container {
	border-radius: 5px;
	@media (max-width: 768px) {
		position: relative;
		top:10vh;
		width:90vw;
		height:90vh;
		overflow-y: auto;
		padding-bottom: 12vh;
		background-color: rgba(51,51,51,0.8);
	}
}

.main-title {
	font-family: 'Libre Baskerville', serif;
	width:40%;
	margin-top: 20%;
	margin-left: 50%;
	margin-right: 20%;
	text-align: left;
	text-shadow: 2px 2px 3px rgba(100, 100, 100, 1);

	@media (max-width: 768px) {
		padding: 10px;
		margin:auto;
		color: #fff;
		width:90%;
		font-size: 2em;
		text-shadow: 1px 1px 2px rgba(200, 200, 200, 1);
	}
}

.subhead {
	font-family: 'Source Sans Pro', serif;
	font-size: 20px;
	line-height: 30px;
	width:40%;
	margin-left: 50%;
	text-align: left;

	@media (max-width: 768px) {
		padding: 10px;
		margin:auto;
		color: #fff;
		font-size: 16px;
		width:90%;
	}
}

.note {
	font-family: 'Source Sans Pro', serif;
	font-size: 16px;
	width:40%;
	margin-left: 50%;
	text-align: left;

	@media (max-width: 768px) {
		padding: 10px;
		margin:auto;
		color: #fff;
		font-size: 14px;
		width:90%;
	}
}

.byline {

	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	width:40%;
	margin-top: 1%;
	margin-left: 50%;
	margin-right: 20%;
	text-align: left;

	@media (max-width: 768px) {
		padding: 10px;
		margin:auto;
		width:90%;
		color: #fff;
		font-size: 12px;
	
	}

}

.btn.btn-info.start {
	margin-left: 60%;
	margin-right: 20%;
	margin-bottom: 1%;

	@media (max-width: 768px) {
		margin:auto;
	}
}

.slide {
	background: #324741 no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	

	.start {
		transition: background-image 2s ease;
	}
}

.btn {
	background-color: #324741;
	border-color: #324741;
}

.persona-wrapper {
	padding: 0px 20px;
	overflow-y: auto;
	height: 99vh;
	@media (max-width: 768px) {
		padding-bottom: 7vh;
	}
}

.persona {
	text-align: center;
	margin-bottom: 20px;
	font-size: 14px;
}

.section {
	height:100%;
	transition: opacity 1s ease;
	opacity: 0;
	display: block;
	overflow: hidden;
	
	.slides {
        height: 100%;
        overflow: hidden;
        position: relative;
    }

}

.front, .back {
	position: relative;
	height:100vh;
	top: 0;
	width:100vw;
	display:none;
}

.active-side {
	display: table;
	padding-top: 50px;
}

.return, .flip {
	position: relative;
}

.postcard-controls {
	position: relative;
	bottom:5%;
	left:5%;
}

.title {
	font-family: 'Libre Baskerville', serif;
	font-size: 40px;
	text-align: center;
	@media (max-width: 768px) {
		margin-left: 10vh;
		font-size: 22px;		
	}
}

.location {
	font-family: 'Libre Baskerville', serif;
	font-size: 22px;
	text-align: center;
	@media (max-width: 768px) {
		margin-left: 10vh;
		font-size: 16px;
		
	}
}

.fronttext {
	position: relative;
	color:#fff;
	overflow-y: auto;
	max-height:90vh;
	background-color: rgba(51,51,51,0.8);
	padding: 15px;
	font-size: 18px;
	border-radius: 5px;

	@media (max-width: 768px) {
		padding-bottom: 14vh;
	}

	.textbox {
		@media (max-width: 768px) {
		}
	}
}

.front-header {
	@media (max-width: 768px) {
		min-height: 12vh;
	}
}

.btn.btn-info.flip
{
	background-color: #fff;
	color: #324741;
	font-family: 'Libre Baskerville', serif;
}

.btn.btn-info.return
{
	background-color: #000;
	color: #fff;
	font-size: 12px;
}

.backtext {
	position: relative;
	height:60vh;
	width:70vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	margin-bottom: 200px;
	color:#324741;
	overflow-y: auto;
	padding:10px;
	border-radius: 5px;
	font-size: 20px;
	
	@media (max-width: 768px) {
		padding-bottom: 25vh;
		height:80vh;
		margin: 20vh auto auto auto;
	}
}

.textbox {
	margin-bottom: 15px;
}

.persona .img-responsive {
    margin: 0 auto;
}

.fix {
	position:fixed;
}

.avatars {
	position: absolute;
	height: 250px;
	width: 200px;
	top: 25px;
	left: 15px;
	z-index: 99;

	@media (max-width: 768px) {
		height: 100px;
		width: 80px;
	}
}

.gardiner {
	height: 250px;
	width: 250px;
	margin-right: 10px;
}

.creditstext {
	position: relative;
	height:80vh;
	width:70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	color:#324741;
	overflow-y: auto;
	padding:10px;
	border-radius: 5px;
	font-size: 20px;

	.title {
		text-align: center;
		margin-left: 0;
		font-size: 2em;
	}
}

.fp-controlArrow {
	&.fp-next {
		@media (max-width: 768px) {
			right:10px;
			border-width: 20px 0 20px 18px;
		}
	}

	&.fp-prev {
		@media (max-width: 768px) {
			left:10px;
			border-width: 20px 18px 20px 0;
		}
	}
}