{# Twitter #}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ COPY.share.twitter_handle }}">
<meta name="twitter:image" content="{{ COPY.share.twitter_image_url }}" />

{# Facebook #}
<meta property="og:title" content="If You Toured Chicago in 1910, What Would You Do?" />
<meta property="og:url" content="http://interactive.wbez.org/curiouscity/1910train/" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Would you bask in opulence at Marshall Field’s? Venture to the city’s first African-American theater? Seek illicit thrills at the Levee? Experience the city through the eyes of last century’s tourists!" />
<meta property="og:image" content="https://s3.amazonaws.com/wbez-assets/curiouscity/1910/thumb-touringchicago.png" />
<meta property="og:site_name" content="NPR.org" />
<meta property="fb:app_id" content="{{ COPY.share.facebook_app_id }}" />

{# Google News #}
<meta name="thumbnail" content="https://s3.amazonaws.com/wbez-assets/curiouscity/1910/thumb-touringchicago.png" />
